.auth {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .switch {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 630px;
    height: 75px;
    background-color: var(--color-background-card);
    margin-bottom: 35px;
    border-radius: 100px;
    transition: .4s;

    &::after {
      position: absolute;
      top: 0;
      content: '';
      width: 50%;
      height: 75px;
      background-color: var(--color-main);
      border-radius: 100px;
      z-index: 1;
      
    }

    &.login  {
      &::after {
        left: 0;
        transition: .4s;
      }
    }

    &.register  {
      &::after {
        left: 50%;
        transition: .4s;
      }
    }
    button {
      width: 50%;
      border-radius: 100px;
      background-color: transparent;
      border: none;
      color: var(--color-light-white);
      font-size: 2.4rem;
      font-weight: 600;
      z-index: 10;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .forms {
    .form-container {
      display: none;

      &.show {
        display: flex;
      }
    }
  }
}