@import './fonts/fonts';

html,
body {
  padding: 0;
  margin: 0;
  font-family: jost;
  font-size: 62.5%;
}


a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
