.search-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 0 38px;
  width: 600px;
  height: 50px;
  border-radius: 120px;
  background-color: var(--color-background-card);

  input {
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    outline: none;
    width: 100%;
  }

  .search {
    color: var(--color-text);
    width: 20px;
  }
}