.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 40px 0 61px;
  width: 100%;

  .left {
    min-width: 200px;
    font-size: 4.8rem;
    font-weight: 700; 
    transition: .6s;

    &:hover {
      transform: scale(1.1);
      transition: .4s;
    }

    a {
      color: var(--color-text);

      
      span {
        color: var(--color-main);
      }
    }
  }

  .right {
    display: flex;
    gap: 27px;
    min-width: 200px;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      transition: .6s opacity;

      &:hover {
        opacity: .3;
        cursor: pointer;
        transition: .4s opacity;
      }
    }

    .theme {
      font-size: 30px;
      color: var(--color-secondary);
    }

    .plus {
      font-size: 30px;
      color: var(--color-main);
    }
    
    .user {
      font-size: 40px;
      color: var(--color-text);
    }
  }
}